:root {
  --main-font: "Playfair Display", serif;
  --nav-btn-heading-font: "DM Serif Display", serif;
  --text-font: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --background-color: #f6f6f6;
  --hr-line-color: #c8c9ca;
  --border-radius-rounded-end: 0 4px 4px 0;
  --border-radius-rounded-start: 4px 0 0 4px;
}

h1,
h2,
h3,
h4,
h5,
.logo-name,
.nav-font,
a.contact-button,
div.btn,
input.submit-button {
  text-align: center;
  font-family: var(--nav-btn-heading-font);
}

h1.name {
  font-family: var(--main-font);
  font-size: 60px;
  line-height: 90px;
}
h2 {
  font-size: 36px;
  line-height: 30px;
  padding-top: 10px;
}

nav.bg-color {
  background: var(--background-color) !important;
  z-index: 1020;
}

nav.logo-name {
  font-size: 20px;
}

nav .rotate {
  font-size: 30px;
}

.intoduction {
  background: var(--background-color);
}
a.contact-button,
div.btn,
input.submit-button {
  font-size: 15px;
  background: var(--background-color);
  border-radius: var(--border-radius-rounded-end);
  border: 0;
  display: flex;
  justify-content: center;
  padding: 10px;
}

div.btn-weather {
  border-radius: var(--border-radius-rounded-start) !important;
}
div.btn:hover {
  background: rgb(211, 212, 213);
}
input.submit-button {
  padding: 16px 30px;
}
input.submit-button:hover {
  background: rgb(211, 212, 213);
}

h3.quote {
  margin-top: 70px;
  margin-bottom: 86px;
  font-style: italic;
  line-height: 50px;
  font-size: 40px;
  color: #64676a;
}
h3.about-me-info {
  font-size: 48px;
  padding-top: 10px;
}

div.about-me {
  background: var(--background-color);
  margin-top: 64px;
  margin-bottom: 66px;
}
p.app-description,
div.p-text {
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  text-justify: inter-word;
}
div.p-text {
  padding: 24px !important;
}

div.p-text-bg-left,
div.p-text-bg-right {
  background: var(--background-color);
  border-radius: var(--border-radius-rounded-end);
  padding: 20px;
}
div.p-text-bg-right {
  border-radius: var(--border-radius-rounded-start);
}
div.card-body {
  padding: 0 12px !important;
}
hr.line {
  color: var(--hr-line-color);
}
i.position-size {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  color: var(--background-color);
  font-size: 130px;
  opacity: 1;
}
img.icon {
  max-width: 80px;
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
  padding: 0 10px;
}
small.style {
  font-size: 11px;
  font-family: monospace;
}
div.bg-project,
div.bg-project-weather {
  background: var(--background-color);
  border-radius: var(--border-radius-rounded-end);
  padding: 3px;
}
div.bg-project-weather {
  border-radius: var(--border-radius-rounded-start);
}
div.position-project {
  padding: 70px 40px;
}
label.input {
  font-family: Rubik, sans-serif;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 1px;
  color: RGB(136, 136, 136);
}
span.required {
  color: RGB(193, 89, 75);
}
input.input-field,
textarea.input-field {
  padding: 12px;
  border: 1px solid #e2e2e2;
  box-shadow: 0 1px 4px rgb(0 0 0 / 3%);
  font-family: Rubik, sans-serif;
  font-weight: 300;
  border-radius: var(--border-radius-rounded-end);
}

input.input-field:focus,
textarea.input-field:focus {
  outline-color: rgb(211, 212, 213);
}
span.connection {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
